body {
    background-image: url("/images/triangle-background.jpg");
}
.jumbotron {
    background: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 480px) {
    background-color: brisque;
    color: white;
}
@media screen and (max-width: 760px) {
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}